<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
		<title>Eat-Da-Burger MVC</title>
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">


	</head>
	<body>
		{{{ body }}}
	</body>
</html>
